# Стандартные игнорируемые файлы
__pycache__/
tools/
*.pyc
*.session
*.log
*.db

# Секреты
*.key
config.json
secrets/

# Локальные данные
/data/
/tmp/

# Виртуальные окружения
.venv/
venv/

# IDE
.vscode/
.idea/
